h1 {
  font-weight:900;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ae5bc73e-d3a9-4b67-9ecf-55b7d7340265/df4ik8t-24ff1726-0c0c-41f1-8dce-1485c0e65e72.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FlNWJjNzNlLWQzYTktNGI2Ny05ZWNmLTU1YjdkNzM0MDI2NVwvZGY0aWs4dC0yNGZmMTcyNi0wYzBjLTQxZjEtOGRjZS0xNDg1YzBlNjVlNzIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aHcPQyC-qyBox9MVykBrQE5sSF-kHtN-M5krdsyE_yw");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-family: system-ui;
  background-color: black;
  opacity: 0.8;

  animation: neon 1s infinite alternate; /* Neon flicker animation */
}

.randomQuote {
  font-size: 30px;
  color: #ffe600;
  text-align: center;
  margin: 20px;
  background: black;
  opacity: 0.7;

  overflow: hidden;
  position: relative;
  transform-origin: center; /* Set the transform origin to the center */

  transition: transform 2s, rotate 2s; /* Adding transform and rotation transition */
  
  /*Ensures the text does not exceed the limits of the screen*/
  max-width: 100%; 
  max-height: 100%;
}

@keyframes neon {
  from { text-shadow: 0 0 5px #14e4ff, 0 0 15px #14e4ff, 0 0 25px #14e4ff; }
  to { text-shadow: 0 0 15px #14e4ff, 0 0 25px #14e4ff, 0 0 35px #14e4ff; }
}

.randomQuote:hover {
  cursor: none; /*Without this, the option to rotate and zoom is bugged*/
  transform: scale(1.2) rotate(360deg); /* Adding rotation and zoom on hover */
}

.trollButton {
  font-size: 24px;
  padding: 15px 30px;
  background-image: url("https://i.gifer.com/7XpE.gif");
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;

}

.animatedImage {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  animation: moveAndScale 5s infinite alternate;
}

@keyframes moveAndScale {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  50% {
    transform: translate(-50%, -50%) translateY(70%) scale(3); /* La imagen se moverá hacia abajo y aumentará su tamaño a la mitad de la animación */
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.quote_dynamicPages {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  font: italic;
  font-size: 25px;
}

.quote_dynamicPages:hover {
  color: #fabada;

  transform: scale(4.2);
  transform:rotate(180deg);
}

.footer {
  background-color: #333; /* Background color for the footer */
  color: #fff; /* Text color for the footer */
  padding: 20px; /* Add padding to the footer */
  text-align: center; /* Center the text */
  opacity: 0.9;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid #f0f0f0;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: white;
  }
  a:hover {
    color: #61dafb;
  }
  p {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}

body {
  /*background-image:url('../images/90sMovies_Background.png'); --> NOT WORKING, DONT KNOW WHY*/
  background-image: url("https://github.com/javizorrilla/pruebaImagen/blob/main/90sMovies_Background.png?raw=true");
  background-size: cover;
  background-position: center; 

  width: 100%;
  height: 100%;

  text-align: center;
  overflow: hidden; /*Screen cannot be scrolled*/
}